<div class="titleBreak">
  <h2 id="homeTitle"><a href="#home"><span>Home</span></a></h2>
</div>
<h3>Stats</h3>
<div id="torrent_stats">
  <span class="num" id="num_torrents"># Torrents:</span><a class="num_stat" id="num_torrents_stat"></a>
  <br>
  <br>
  <span class="num" id="num_snatches"># Snatches:</span><a class="num_stat" id="num_snatches_stat"></a>
</div>
<br>
<h3>News</h3>
<p class="home_p">Files are now seeding using WebTorrent Desktop by Feross; you should be able to download "fluently."</p>
<h3>About Solomon's House</h3>
<p class="home_p">Welcome to Solomon's House, the Civil Search Engine for Public Domain Educational Ebooks. This is not a piracy website, but rather a Search Wrapper like and for Google. You can contribute by seeding this <a href="magnet:?xt=urn:btih:8a1b50903ecfa323c0979fa6d573e9b454ca5668&dn=atlantean-silo&tr=wss%3A%2F%2Ftracker.btorrent.xyz&tr=wss%3A%2F%2Ftracker.openwebtorrent.com">magnetURI (53GB)</a> with <a href="https://www.webtorrent.io">WebTorrent.</a></p>
<h3>The Code</h3>
<p class="home_p">The database is Neo4J, which allows for Graph Search, and a Quantum-Graph Recommendation Engine called Mermaid.  A Hieroglpyh is rendered as the recommendation button to seed the QRNG. We use VR-force-graph to display Graph Search to the client, including VR capability. The project is meant to be "Gazelle with Webtorrent," with an original educational use case. I have also developed a lightweight in-house javascript router called ANCHOR.js as an alternative to heavier frameworks like AngularJS and React.js. The code for website (a BitTorrent Indexer) is Open Source and can be found on <a href="https://www.github.com/inevitableambrosia/gazelle-webtorrent-neo4j">Github</a>. It is a Single-Page App (SPA). </p>
<h3>DMCA</h3>
<p class="home_p">We are committed to promptly responding to DMCA requests. Please direct DMCA complains to: <a href="mailto:inevitableambrosia@gmail.com">inevitableambrosia@gmail.com</a>. This website operates solely as a "SEARCH WRAPPER" for PDFs and audiobooks found on the Google search engine. We do not host, store, or upload any files, e-books, or audiobooks on our servers. We have no control over the content of external websites or the files shared by users via peer-to-peer networks. We are not responsible for the legality, accuracy, or compliance of third-party content.</p>
<h3>Good Karma!</h3>
<p class="home_p">You can donate BTC to me (this is a single person project) at<br>3D3wMrdQ44p92YcL2fzyxHTdmkWqHoz9wQ</p> 