<div id="hero">
  <div id="progressBar"></div>      
    <!-- Statistics -->
  <div id="status">
  
    <span class="show-leech">Torrenting  </span>
    <span class="show-seed">Torrenting  </span>
    
    <span class="show-leech"> from </span>
    <span class="show-seed"> from </span>
    <code id="numPeers">0 peers</code>
  </div>

  <div>
    <code id="downloaded"></code>
    of <code id="total"></code>
    — <span id="remaining"></span><br/>
    &#x2198;<code id="downloadSpeed">0 b/s</code>
    / &#x2197;<code id="uploadSpeed">0 b/s</code>
    <code id="percent"></code>
  </div>
</div>
<div id="output">
</div>