<div class="titleBreak">
  <h2 id="torrentsTitle"><a class="ANCHOR torrents" href="#torrents"><span>Torrents</span></a></h2>
</div>

<!--<div class="me_time">
<span class="time_i_am">
  "It is he who effects fruition
  <br>For beings in this life
  <br>For he demonstrates the
    <br>Ripened effects of good deeds
    <br>Done well and wrongly done;
    <br>For this reason he is called 'king'"
  <br>-- <a class="ANCHOR source underline" href="#source?uuid=970a78f0-9546-11ef-b986-73e3cb0ee92e">Exalted Sublime Golden Light</a>
</span>!-->

<div class="adv_search">
	<a href="#" class="adv_header_button"><span class="adv_plus adv_toggle">+</span><span class="adv_minus adv_toggle">-</span><span id="adv_heading">Graph Search</span></a>	
	<div class="adv_show"></a>		
		<select class="adv_type "id="adv_type"><option value="all">Ebook Genus</option></select><br>
		<input id="adv_title" placeholder = "Title">
		<br>
		<input id="adv_author" placeholder="Author">
		<br>
		<input id="adv_classes" placeholder="Classes (comma-separated)"><ul id="torrents_classes_as" class="autosuggestBox"></ul>
		<br>
		<label for="adv_class_all" class="adv_class">ALL</label>
		<input type="radio" class="adv_class" name="adv_class_toggle" id="adv_class_all">
		<label for="adv_class_any" class="adv_class">ANY</label>
		<input type="radio" class="adv_class" name="adv_class_toggle" id="adv_class_any">
		<br><br>
		<input id="adv_publisher" placeholder="Publisher or Journal"><br><br>
		<button id="adv_submit">Graph Search</button>
	</div>
</div>
<br>

 <div class="search_graph">
	<div id="search_graph">
	</div>
</div>

<table width="100%" max-width="100%" id="torrents" class="torrents">
	<thead>
		<tr>
			<th>Source / Date / Author</th> <!--hidden column header !-->
			<th class="table_edition">APA Citation</th> <!--edition !-->
			
			<th>Snatches</th>
      <th class="table_date">Date</th>
			<th>Time</th>
			<th class="none torrents"></th> <!-- hidden responsive + !-->
		</tr>
	</thead>
	<tbody>
	</tbody>
</table>

